/* ALL */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* TAGS */
body {
  background-color: #eee;
}

/* FORM */
#form {
  // style
  background-color: #fff;
  width: 80%;
  padding: 2rem 1rem;
  border-radius: 0.5rem;
  color: #555;

  // position
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  // flex
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .form-title {
    font-size: 1.5rem;
    padding: 0 0 1rem 0;
  }

  /* INPUTS BLOCKS */
  .inputsGroup {
    // flex
    display: flex;

    // style
    flex-direction: column;
    width: 100%;
    margin: 0.5rem 0;

    /* LABEL */
    label {
      margin: 0 0 0.25rem 0;
    }

    /* INPUT */
    input {
      outline: none;
      padding: 0.5rem;
      border: none;
      border-radius: 0.25rem;

      &.error {
        border: 2px solid #f00 !important;
      }

      &.success {
        border: 2px solid #0f0 !important;
      }
    }

    /* INPUT EXCEPT SUBMIT BUTTON */
    input:not([type="submit"]) {
      border: 1px solid #555;
    }

    /* SUBMIT BUTTON */
    input[type="submit"] {
      background-color: #55f;
      color: #fff;
    }

    /* ERRORS */
    .small {
      list-style: none;
      margin: 0.25rem 0 0 0;
      padding: 0.5rem;
      border: 1px solid #f00;
      border-radius: 0.25rem;
      color: #f00;
      background-color: #fcc;
    }
  }
}
